:root{
  --PrimaryRed: hsl(0, 100%, 74%);
  --PrimaryGreen: hsl(154, 59%, 51%);
  --AccentBlue: hsl(248, 32%, 49%);
  --NeutralDarkBlue: hsl(249, 10%, 26%);
  --NeutralGrayishBlue: hsl(246, 25%, 77%);
  font-size:16px;
}

/***** BODY *****/

body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100vw;
  
  font-family: 'Poppins', sans-serif;
  color:white;

  background-color:var(--PrimaryRed);
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#about, #cards{
  margin: 3rem auto 0;
  width:330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***** ABOUT SECTION *****/

#about h2{
  text-align: center;
  font-size:1.7rem;
  line-height:1.38;

  width: 300px;
  margin-top:2.6rem;
}

#about h4{
  text-align: center;
  width: 320px;
  line-height:1.65;
  font-weight:400;
  margin-bottom: 0.85rem;
}

/***** CARDS SECTION *****/

.card{
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content:center;

  box-shadow: 0 0.5rem 0 0 rgba(0,0,0,0.15);
  border-radius: 10px;
}

.plan{
  background-color:var(--AccentBlue);
  padding: 1.25rem 4rem;
}

.plan h4{
  height: 3rem;
  margin:0;

  text-align: center;
  line-height:1.6;
  font-weight:400;
}

.form{
  background-color:white;
  padding: 1.5rem;
}

.form input{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 1.22rem 1rem;
  font-size:0.85rem;
  font-weight:600;
  margin-bottom:1rem;
}

.form input:focus {
  border: 0;
  outline-width:1px;
  outline-color: rgba(0,0,0,0.5);
}

.form .btn{
  width:100%;
  background-color: var(--PrimaryGreen);
  padding: 1.11rem 1rem;
  margin-bottom:0.5rem;
  box-shadow: inset 0 -0.2rem 0 0 rgba(0,0,0,0.2);

  color:white;
  font-size:1rem;
  text-transform:uppercase;
}

.form p{
  margin:0 1rem;
  text-align:center;
  color: var(--NeutralGrayishBlue);
  font-weight:400;
  font-size:0.7rem;
  line-height:2;
}

.form p strong{
  color: var(--PrimaryRed);
}

/***** FOOTER *****/

.attribution {
  font-size: 11px;
  text-align: center;
}
  
.attribution a {
  color: hsl(228, 45%, 44%);
}

/***** LAPTOP&UP LAYOUT *****/

/***** BODY DL *****/

@media (min-width: 770px){

  body{
    height:100vh;
    align-items:center;
    
    background-image: url(./images/bg-intro-desktop.png);
  }

  #about, #cards{
    margin: 0;
    width:50%;
  }

/***** ABOUT SECTION DL *****/
  #about{
    justify-content:flex-end;
  }

  #about h2{
    text-align:left;
    font-size:3rem;
    line-height:1.15;

    width: 500px;
    margin-top:1rem;
    margin-bottom: 0.85rem;
  }

  #about h4{
    text-align: left;
    width: 500px;
    line-height:1.65;
    font-weight:400;

    margin-top:1rem;
    margin-bottom: 0.85rem;
  }

  /***** CARDS SECTION DL *****/

  .card{
    width: 495px;
    padding:1.38rem;
  }

  .plan{
    margin-bottom: 1.5rem;
  }

  .plan h4{
    height: 1rem;
    font-size:0.95rem;
    line-height:1;
  }

  .form {
    margin:1rem;
  }

  .form input{
    padding: 1.22rem 1rem;
    width:90%;
    margin-bottom:1rem;
  }

  .form input:focus {
    border: 0;
    outline-width:1px;
    outline-color: rgba(0,0,0,0.5);
  }

  .form .btn{
    width:100%;
    background-color: var(--PrimaryGreen);
    padding: 1.11rem 1rem;
    margin-bottom:0.5rem;
    box-shadow: inset 0 -0.2rem 0 0 rgba(0,0,0,0.2);

    color:white;
    font-size:1rem;
    text-transform:uppercase;
  }

  .form p{
    margin:0 1rem;
    text-align:center;
    color: var(--NeutralGrayishBlue);
    font-weight:400;
    font-size:0.7rem;
    line-height:2;
  }

  .form p strong{
    color: var(--PrimaryRed);
  }

}
